{% extends '_base.html' %}

{% block content %}
<h2>Editar centro educativo</h2>
<form method="POST">
    <fieldset class="mb-3 border border-secondary rounded-3 p-3 border-5">
        <legend>Información del centro</legend>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control", placeholder="Nombre del centro educativo", size=32) }}
        </div>
        <div class="mb-3">
            {{ form.direccion.label(class="form-label") }}
            {{ form.direccion(class="form-control", placeholder="Dirección del centro educativo", size=64) }}
        </div>
        <div class="mb-3">
            {{ form.telefono.label(class="form-label") }}
            {{ form.telefono(class="form-control", placeholder="Teléfono del centro educativo", size=32) }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Correo electrónico del centro educativo", size=64) }}
        </div>
        {{ actionbutton_form('Guardar cambios', 'submit', 'mdi-content-save', 'btn-primary') }}
        {{ actionbutton('Borrar centro', url_for('centros.borrar', centro_id=centro_id), 'mdi-delete', 'btn-danger') }}
        {{ actionbutton('Cancelar', url_for('centros.detalle', centro_id=centro_id), 'mdi-cancel', 'btn-light') }}
    </fieldset>
</form>
{% endblock %}